.row
  #left.col-xs-3
    %h2 Datacanvas Healthy Runner
    / item list
    .panel.panel-default
      .panel-heading
        Filters
      .panel-body
        %h4
          Filter routes that distance more than
          %span#distance-value 20
          Km's
        #distance-filter.slider.slider-horizontal
        %hr/
  #map-canvas.col-xs-9
    #map
