@import "bootstrap-sprockets";
@import "bootstrap";
@import "slider";

html,body{
 height:100%;
}

body {
  padding-top:50px;
}

.navbar-custom .icon-bar {
  background-color:#fff;
}

.navbar-custom {
  background-color: #168ccc;
  color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
  background-color:#49bfff;
}

.navbar-custom a{
  color:#fefefe;
}

.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

#main, #main>.row {
  height:100%;
}

#main>.row {
  overflow-y:scroll;
}

#left {
  height:100%;
}

#map-canvas {
  height:100%;
}

#map {
  width: 100%;
  height: 100%;

  img {
    max-width: none;
  }
  label {
    width: auto;
    display:inline;
  }
}

#distance-filter {
  width: 100%;
}

#distance-filter-slider {
  width: 100%;

  .slider-handle {
    background: #168ccc;
    opacity: 1;
  }

  .slider-selection {
    background: #49bfff;
  }

  .slider-track {
    background: #3498db;
    // opacity: 0.65;
  }
}
